body {
    background-color: #000000;
    display: flex;             
    justify-content: center;    
    align-items: flex-start;       
    height: 100vh;             
    margin: 0;                  
    flex-direction: column;   
    position: relative; 
   }

img {
    width: 25%;                 
}

h1 {
    font-weight: bold;
    color: #990006;
    font-size: 60px;
    margin: 0;                 
    padding-top: 20px;         
    z-index: 10;                
    position: absolute;
    top: 0;
    left:50%;
    transform: translateX(-50%);         
    text-align: center;         
    width: 100%;    
  }

p {
    font-size: 25px;
    color: #ffffff;
    font-family: serif;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;       
    position: absolute;         
    top: 80px;                  
    left: 50%;                  
    transform: translateX(-50%);
}

.q {
    font-size: 20px;
    color: #ffffff;
    font-family: serif;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;       
    position: absolute;         
    top: 120px;                   
    left: 40%;                   
    transform: translateX(-50%); 
}

/* Image on the left side */
.side-image-left {
    position: fixed;
    top: 50%;                  
    left: 0;                   
    transform: translateY(-50%); 
    height: 100%;     
}

/* Image on the right side */
.side-image-right {
    position: fixed;
    top: 50%;                  
    right: 0;                  
    transform: translateY(-50%);
    height: 100%;              
}


