* { 
    margin: 0;
    padding: 0;
    font-size: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #373737;   
    color: red;
    margin: 0;
   }




img {
 
  }