body {
    background-color: #000000;
   }

h1 {
    font-weight: bold;
    color:#990006;
    font-size: 60px;
    margin-bottom: 0;
  }

p {
    text-align: center;
    color:#ffffff;
    font-size: 25px;
    font-family: serif;
    margin-top: 0;
}

button {
    background-color: #eb7018;
    color: white;           
    font-size: 27px;  
    font-family: serif;
    padding: 40px 150px;      
    border: none;            
    border-radius: 5px;       
    cursor: pointer;          
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
}

/* Image on the left side */
.side-image-left {
    position: fixed;
    top: 50%;                  
    left: 0;                   
    transform: translateY(-50%); 
    height: 100%;     
}

/* Image on the right side */
.side-image-right {
    position: fixed;
    top: 50%;                  
    right: 0;                  
    transform: translateY(-50%);
    height: 100%;              
}

/* Bear image */
.bear-image {
    width: 30%
}
